<% content_for :page_head do %>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <title>CSafe - Admin</title>
<% end %>
<% content_for :body_class, "fixed-nav sticky-footer bg-dark"%>
<% content_for :body_id, "page-top" %>
<!-- Navigation-->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
  <a class="navbar-brand" href="/admin">CSafe <i>Admin</i></a>
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarResponsive">
    <ul class="navbar-nav navbar-sidenav" id="exampleAccordion">

      <li class="nav-item whichPageSelected" data-toggle="tooltip" data-placement="right" title="Tables">
        <a class="nav-link" href="../admin">
          <i class="fa fa-fw fa-table"></i>
          <span class="nav-link-text">Tables</span>
        </a>
      </li>

      <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Charts">
        <a class="nav-link" href="../admin/charts.html">
          <i class="fa fa-fw fa-area-chart"></i>
          <span class="nav-link-text">Charts</span>
        </a>
      </li>

      <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Charts">
        <a class="nav-link" href="../admin/bounds.html">
          <i class="fa fa-fw fa-map"></i>
          <span class="nav-link-text">Bounds</span>
        </a>
      </li>
    </ul>
    <ul class="navbar-nav ml-auto">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle mr-lg-2" id="messagesDropdown" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i class="fa fa-fw fa-envelope"></i>
          <span class="d-lg-none">Messages
            <span class="badge badge-pill badge-primary">12 New</span>
          </span>
          <span class="indicator text-primary d-none d-lg-block">
            <i class="fa fa-fw fa-circle"></i>
          </span>
        </a>
        <div class="dropdown-menu" aria-labelledby="messagesDropdown">
          <h6 class="dropdown-header">New Messages:</h6>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">
            <strong>David Miller</strong>
            <span class="small float-right text-muted">11:21 AM</span>
            <div class="dropdown-message small">Hey there! This new version of SB Admin is pretty awesome! These messages clip off when they reach the end of the box so they don't overflow over to the sides!</div>
          </a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">
            <strong>Jane Smith</strong>
            <span class="small float-right text-muted">11:21 AM</span>
            <div class="dropdown-message small">I was wondering if you could meet for an appointment at 3:00 instead of 4:00. Thanks!</div>
          </a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">
            <strong>John Doe</strong>
            <span class="small float-right text-muted">11:21 AM</span>
            <div class="dropdown-message small">I've sent the final files over to you for review. When you're able to sign off of them let me know and we can discuss distribution.</div>
          </a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item small" href="#">View all messages</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle mr-lg-2" id="alertsDropdown" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i class="fa fa-fw fa-bell"></i>
          <span class="d-lg-none">Alerts
            <span class="badge badge-pill badge-warning">6 New</span>
          </span>
          <span class="indicator text-warning d-none d-lg-block">
            <i class="fa fa-fw fa-circle"></i>
          </span>
        </a>
        <div class="dropdown-menu" aria-labelledby="alertsDropdown">
          <h6 class="dropdown-header">New Alerts:</h6>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">
            <span class="text-success">
              <strong>
                <i class="fa fa-long-arrow-up fa-fw"></i>Status Update</strong>
            </span>
            <span class="small float-right text-muted">11:21 AM</span>
            <div class="dropdown-message small">This is an automated server response message. All systems are online.</div>
          </a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">
            <span class="text-danger">
              <strong>
                <i class="fa fa-long-arrow-down fa-fw"></i>Status Update</strong>
            </span>
            <span class="small float-right text-muted">11:21 AM</span>
            <div class="dropdown-message small">This is an automated server response message. All systems are online.</div>
          </a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">
            <span class="text-success">
              <strong>
                <i class="fa fa-long-arrow-up fa-fw"></i>Status Update</strong>
            </span>
            <span class="small float-right text-muted">11:21 AM</span>
            <div class="dropdown-message small">This is an automated server response message. All systems are online.</div>
          </a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item small" href="#">View all alerts</a>
        </div>
      </li>
      <li class="nav-item">
        <form class="form-inline my-2 my-lg-0 mr-lg-2">
          <div class="input-group">
            <%= link_to "Logout", destroy_user_session_path, method: :delete, class: "logoutAdmin" %>
          </div>
        </form>
      </li>
    </ul>
  </div>
</nav>
<div class="content-wrapper">
  <div class="container-fluid">
    <!-- Breadcrumbs-->
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a href="#">Dashboard</a>
      </li>
      <li class="breadcrumb-item active">My Dashboard</li>
    </ol>

    <br>
    <br>

    <!--Hours of Operation-->
    <div class="card mb-3">
      <div class="card-header">
        <i class="fa fa-table"></i> Hours of Operation</div>
      <div class="card-body">
        <div class="table-responsive">
          <table class="table table-bordered tableRowAdmin" id="dataTable" width="100%" cellspacing="0">
            <thead>
            <tr>
              <th>Day of Week</th>
              <th>Start Time</th>
              <th>End Time</th>
              <th>Enabled?</th>
            </tr>
            </thead>
            <tfoot>
            <tr>
              <th>Day of Week</th>
              <th>Start Time</th>
              <th>End Time</th>
              <th>Enabled?</th>
            </tr>
            </tfoot>
            <tbody>
            <% @hours.each do |hours| %>
              <tr>
                <td><%= hours.day %></td>
                <td><input id="st_<%= hours.id %>" type="time" value="<%= hours.start_time.strftime('%H:%M') %>"></td>
                <td><input id="et_<%= hours.id %>" type="time" value="<%= hours.end_time.strftime('%H:%M') %>"></td>
                <td><input id="enabled_<%= hours.id %>" type="checkbox" <% if hours.enabled %>checked<% end %>></td>
              </tr>
            <% end %>
            </tbody>
          </table>
          <input id="save_hours" type=button value="Save Hours" class="btn btn-primary">
        </div>
      </div>
    </div>



    <!--Ride Requests-->
    <div class="card mb-3">
      <div class="card-header">
        <i class="fa fa-table"></i> Ride Requests</div>
      <div class="card-body">
        <div class="table-responsive">
          <table class="table table-bordered tableRowAdmin" id="dataTable-RequestRides" width="100%" cellspacing="0">
            <thead>
            <tr>
              <th>User ID</th>
              <th>Phone Number</th>
              <th>Requested At</th>
              <th>Pickup Address</th>
              <th>Dropoff Address</th>
              <th>Passenger Count</th>
              <th>Accept</th>
            </tr>
            </thead>
            <tfoot>
            <tr>
              <th>User ID</th>
              <th>Phone Number</th>
              <th>Requested At</th>
              <th>Pickup Address</th>
              <th>Dropoff Address</th>
              <th>Passenger Count</th>
              <th>Accept</th>
            </tr>
            </tfoot>
            <tbody id="unaccepted_rides">
            <!--if the ride is not accepted, add it to ride requests-->
            <% @rides.each do |rides| %>
              <% if !rides.accepted %>
              <tr>
                <td><%= rides.userID %></td>
                <td><%= rides.phone_number %></td>
                <td><input id="createdAt_<%= rides.id %>" type="datetime" value="<%= rides.created_at.strftime("%m/%d/%Y at %I:%M%p")%>" readonly></td>
                <td><%= rides.start_address %></td>
                <td><%= rides.end_address %></td>
                <td><%= rides.num_passenger %></td>
                <td><button id="accept_<%= rides.id %>" type="button" class="btn btn-primary" onclick="acceptRide()" > Accept</button></td>
              </tr>
              <% end %>
            <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>

    <!--Accepted Rides-->
    <div class="card mb-3">
      <div class="card-header">
        <i class="fa fa-table"></i> Accepted Rides</div>
      <div class="card-body">
        <div class="table-responsive">
          <table class="table table-bordered tableRowAdmin" id="dataTable-AcceptedRides" width="100%" cellspacing="0">
            <thead>
            <tr>
              <th>User ID</th>
              <th>Requested At</th>
              <th>Updated At</th>
              <th>Phone Number</th>
              <th>Address</th>
              <th>ETA</th>
              <th>Cancel</th>
            </tr>
            </thead>
            <tfoot>
            <tr>
              <th>User ID</th>
              <th>Requested At</th>
              <th>Updated At</th>
              <th>Phone Number</th>
              <th>Address</th>
              <th>ETA</th>
              <th>Cancel</th>
            </tr>
            </tfoot>
            <tbody>
            <% @rides.each do |ride| %>
              <!--if the ride is accepted, add it to accepted rides -->
                <% if ride.accepted %>
                <tr>
                  <td><%= ride.userID %></td>
                  <td><input id="createdAt_<%= ride.id %>" type="datetime" value="<%= ride.created_at.strftime("%m/%d/%Y at %I:%M%p")%>" readonly></td>
                  <td><input id="updatedAt_<%= ride.id %>" type="datetime" value="<%= ride.updated_at.strftime("%m/%d/%Y at %I:%M%p")%>" readonly></td>
                  <td><%= ride.phone_number %></td>
                  <td><%= ride.end_address %></td>
                  <td>
                    <select id="setEta_<%= ride.id %>">
                    <option value="5">5 Minutes</option>
                    <option value="10">10 Minutes</option>
                    <option value="15">15 Minutes</option>
                    <option value="25">25 Minutes</option>
                    </select>
                    <button id="setEtaButton_<%= ride.id %>" style="background-color:green;border: 0;margin-left: 10px;margin-top: 5px" type="button" class="btn btn-primary" onclick="setEta()" > Set ETA</button>

                  </td>
                  <td> <button id="cancel_<%= ride.id %>" style="background-color:red;border: 0;" type="button" class="btn btn-primary" onclick="cancelRide()" > Cancel Ride</button></td>
                </tr>
              <% end %>


            <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>

    <!--Add New Admins-->
    <div class="card mb-3">
      <div class="card-header">
        <i class="fa fa-table"></i>Add New Admins</div>
      <div class="card-body">
        <div class="table-responsive">
          <table class="table table-bordered tableRowAdmin" id="dataTable" width="100%" cellspacing="0">
            <thead>
            <tr>
              <th>Admin Email</th>
              <th>Revoke Admin?</th>
            </tr>
            </thead>
            <tfoot>
            <tr>
              <th>Admin Email</th>
              <th>Revoke Admin?</th>
            </tr>
            </tfoot>
            <tbody id="admin_list">
            <% @admins.each do |admin| %>
              <tr id="revokeAdmin_<%= admin.id %>">
                <td><%= admin.email %></td>
                <td>
                  <button style="background-color:red;border: 0;margin-left: 10px;margin-top: 5px" type="button" onclick="revokeAdmin(&#39;<%= admin.id %>&#39;)" class="btn btn-primary">Revoke Admin</button>
                </td>
              </tr>
            <% end %>
            </tbody>
          </table>
          <input placeholder="Email" type="email" id="new_admin" class="form-control">
          <br>
          <input id="add_admin" type=button value="Add Admin" class="btn btn-primary">
        </div>
      </div>
    </div>


  <!-- /.container-fluid-->
  <!-- /.content-wrapper-->
  <!--<footer class="sticky-footer">-->
    <!--<div class="container">-->
      <!--<div class="text-center">-->
        <!--<small>Copyright © Your Website 2018</small>-->
      <!--</div>-->
    <!--</div>-->
  <!--</footer>-->
  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fa fa-angle-up"></i>
  </a>
  <!-- Logout Modal-->
  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
          <button class="close" type="button" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
        <div class="modal-footer">
          <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
          <a class="btn btn-primary" href="../pages/login.html">Logout</a>
        </div>
      </div>
    </div>
  </div>
  <script>
  var revokeAdmin = function(id) {
      $.ajax({
          url: '/api/v1/admin/remove/'+id,
          type: 'PUT',
          success: function(data) {
              $('#revokeAdmin_'+id).remove();
          }
      });
  };

  var saveHours = $('#save_hours');
  saveHours.click(function(event) {
  for (var i = 1; i <= 7; ++i) {
      var startTime = document.getElementById('st_'+i).value;
      var endTime = document.getElementById('et_'+i).value;
      var checkedValue = $('#enabled_'+i).is(":checked");
      var data = {"start_time": startTime, "end_time": endTime, "enabled": checkedValue};
      $.ajax({
          url: '/api/v1/hours/'+i,
          type: 'PUT',
          data: data,
          success: function(data) {
          }
      });
  }
  alert("Hours updated!");
  });

  var addAdmin = $('#add_admin');
  addAdmin.click(function(event) {
      var email = document.getElementById('new_admin');
      if (email.value) {
          $.ajax({
              url: '/api/v1/admin/add',
              type: 'PUT',
              data: {email:email.value.trim()},
              success: function(result) {
                  email.value = "";
                  $('#admin_list').append('<tr id="revokeAdmin_'+result.data.id+'"><td>'+result.data.email+'</td><td><button style="background-color:red;border: 0;margin-left: 10px;margin-top: 5px" type="button" onclick="revokeAdmin(&#39;'+result.data.id+'&#39;)" class="btn btn-primary">Revoke Admin</button></td></tr>')
              }
          });
      }
  });

  function acceptRide() {
      console.log("hey my id is: " + event.srcElement.id);
      var id = getPartAfterUnderscore(event.srcElement.id);
      console.log(id);
      var accepted = new Date().toISOString().slice(0, 19).replace('T', ' ');
      $.ajax({
            url: '/api/v1/admin/updateRideStatus/'+ id,
            type: 'PUT',
            data: {"accepted":accepted},
            success: function(result) {
                console.log("done!");
                console.log("the result");
                console.log(result);
                App.ride_status.notify(result.data.userID);
                // refreshes the table
                $( "#dataTable-RequestRides" ).load( "/admin.html #dataTable-RequestRides" );
                $( "#dataTable-AcceptedRides" ).load( "/admin.html #dataTable-AcceptedRides" );
            }
        });

      //For ref
      //params.permit(:id,:start_loca_lat,:start_loca_lng,:end_loca_lat,:end_loca_lng,:phone_number,:start_address,:end_address,:accepted,:departed,:complete,:eta)
  }

  function cancelRide() {
      console.log("hey my id is: " + event.srcElement.id);
      var id = getPartAfterUnderscore(event.srcElement.id);
      $.ajax({
          url: '/api/v1/admin/removeRide/'+ id,
          type: 'PUT',
          success: function(result) {
              console.log("done!");
              // refreshes the table
              $( "#dataTable-AcceptedRides" ).load( "admin.html #dataTable-AcceptedRides" );
          }
      });
  }

  //TODO: working
  function setEta() {
      console.log("hey my id is: " + event.srcElement.id);
      var id = getPartAfterUnderscore(event.srcElement.id);
      console.log(id);
      // TODO: get the number of minutes from the dropdown
      var completed = moment(new Date()).add(5,'m').toDate();
      $.ajax({
          url: '/api/v1/rides/'+ id,
          type: 'PUT',
          data: {"eta":completed},
          success: function(result) {
              console.log("done!");
              console.log(result);
              App.eta.notify(result.data.userID, result.data.eta);
              // refreshes the table
              $( "#dataTable-RequestRides" ).load( "admin.html #dataTable-RequestRides" );
              $( "#dataTable-AcceptedRides" ).load( "admin.html #dataTable-AcceptedRides" );
          }
      });
  }

  //TODO: working
  function completeRide() {
      console.log("hey my id is: " + event.srcElement.id);
      var id = getPartAfterUnderscore(event.srcElement.id);
      console.log(id);
      var completed = new Date().toISOString().slice(0, 19).replace('T', ' ');
      $.ajax({
          url: '/api/v1/admin/updateRideStatus/'+ id,
          type: 'PUT',
          data: {"eta":accepted},
          success: function(result) {
              console.log("done!");
              // refreshes the table
              $( "#dataTable-RequestRides" ).load( "admin.html #dataTable-RequestRides" );
              $( "#dataTable-AcceptedRides" ).load( "admin.html #dataTable-AcceptedRides" );
          }
      });
  }

  function getPartAfterUnderscore(str) {
      return str.split('_')[1];
  }

  </script>
</div>