<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Admin Analytics</title>
  <%= javascript_include_tag "https://www.gstatic.com/charts/loader.js" %>
</head>



<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
  <a class="navbar-brand" href="/admin">CSafe <i>Admin</i></a>
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarResponsive">
    <ul class="navbar-nav navbar-sidenav" id="exampleAccordion">

      <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Tables">
        <a class="nav-link" href="../admin">
          <i class="fa fa-fw fa-table"></i>
          <span class="nav-link-text">Tables</span>
        </a>
      </li>

      <li class="nav-item whichPageSelected" data-toggle="tooltip" data-placement="right" title="Charts">
        <a class="nav-link" href="../admin/charts.html">
          <i class="fa fa-fw fa-area-chart"></i>
          <span class="nav-link-text">Charts</span>
        </a>
      </li>

      <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Charts">
        <a class="nav-link" href="../admin/bounds.html">
          <i class="fa fa-fw fa-map"></i>
          <span class="nav-link-text">Bounds</span>
        </a>
      </li>

    </ul>
    <ul class="navbar-nav ml-auto">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle mr-lg-2" id="messagesDropdown" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i class="fa fa-fw fa-envelope"></i>
          <span class="d-lg-none">Messages
            <span class="badge badge-pill badge-primary">12 New</span>
          </span>
          <span class="indicator text-primary d-none d-lg-block">
            <i class="fa fa-fw fa-circle"></i>
          </span>
        </a>
        <div class="dropdown-menu" aria-labelledby="messagesDropdown">
          <h6 class="dropdown-header">New Messages:</h6>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">
            <strong>David Miller</strong>
            <span class="small float-right text-muted">11:21 AM</span>
            <div class="dropdown-message small">Hey there! This new version of SB Admin is pretty awesome! These messages clip off when they reach the end of the box so they don't overflow over to the sides!</div>
          </a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">
            <strong>Jane Smith</strong>
            <span class="small float-right text-muted">11:21 AM</span>
            <div class="dropdown-message small">I was wondering if you could meet for an appointment at 3:00 instead of 4:00. Thanks!</div>
          </a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">
            <strong>John Doe</strong>
            <span class="small float-right text-muted">11:21 AM</span>
            <div class="dropdown-message small">I've sent the final files over to you for review. When you're able to sign off of them let me know and we can discuss distribution.</div>
          </a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item small" href="#">View all messages</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle mr-lg-2" id="alertsDropdown" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i class="fa fa-fw fa-bell"></i>
          <span class="d-lg-none">Alerts
            <span class="badge badge-pill badge-warning">6 New</span>
          </span>
          <span class="indicator text-warning d-none d-lg-block">
            <i class="fa fa-fw fa-circle"></i>
          </span>
        </a>
        <div class="dropdown-menu" aria-labelledby="alertsDropdown">
          <h6 class="dropdown-header">New Alerts:</h6>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">
            <span class="text-success">
              <strong>
                <i class="fa fa-long-arrow-up fa-fw"></i>Status Update</strong>
            </span>
            <span class="small float-right text-muted">11:21 AM</span>
            <div class="dropdown-message small">This is an automated server response message. All systems are online.</div>
          </a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">
            <span class="text-danger">
              <strong>
                <i class="fa fa-long-arrow-down fa-fw"></i>Status Update</strong>
            </span>
            <span class="small float-right text-muted">11:21 AM</span>
            <div class="dropdown-message small">This is an automated server response message. All systems are online.</div>
          </a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">
            <span class="text-success">
              <strong>
                <i class="fa fa-long-arrow-up fa-fw"></i>Status Update</strong>
            </span>
            <span class="small float-right text-muted">11:21 AM</span>
            <div class="dropdown-message small">This is an automated server response message. All systems are online.</div>
          </a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item small" href="#">View all alerts</a>
        </div>
      </li>
      <li class="nav-item">
        <form class="form-inline my-2 my-lg-0 mr-lg-2">
          <div class="input-group">
            <%= link_to "Logout", destroy_user_session_path, method: :delete, class: "logoutAdmin" %>
          </div>
        </form>
      </li>
    </ul>
  </div>
</nav>

<br>
<br>
<br>
<br>
<br>
<br>


<h1 class="head" style="text-align: center">CSafe Analytics
  <br>
  <%= link_to 'Download Daily Report', api_v1_admin_downloadReport_path(format: :xlsx), class:"btn btn-primary" %>
</h1>




<div id="leftMargin">
</div>

<div id="rightMargin">
</div>

<div id="leftSection">
  <h1 class="head">Pickup Locations</h1>
  <p>Most requested pick up locations</p>
  <div id="pickUpheatMap"></div>

  <br>
  <h1 class="head">Ride Request Frequency Today</h1>
  <p>Today's request frequency sorted per hour</p>
  <%= column_chart UserRide.where('created_at BETWEEN ? AND ?', DateTime.now.beginning_of_day, DateTime.now.end_of_day).all.group_by_hour_of_day(:created_at, format: "%l %P").count, class:"chartsLeft" %>

  <br>
  <h1 class="head">Ride Request Frequency Yesterday</h1>
  <p>Yesterday's request frequency sorted per hour</p>
  <%= column_chart UserRide.where('created_at BETWEEN ? AND ?', Date.yesterday.beginning_of_day, Date.yesterday.end_of_day).all.group_by_hour_of_day(:created_at, format: "%l %P").count %>

  <br>
  <h1 class="head">Ride Request Frequency Last Week</h1>
  <p>Last week's request frequency sorted per hour</p>
  <%= column_chart UserRide.where('created_at BETWEEN ? AND ?', (DateTime.now) - 7.days, (DateTime.now)).all.group_by_hour_of_day(:created_at, format: "%l %P").count %>

  <br>
  <h1 class="head">Ride Request Frequency Last Month</h1>
  <p>Last Month's request frequency sorted per hour</p>
  <%= column_chart UserRide.where('created_at BETWEEN ? AND ?', (DateTime.now) - 1.month, (DateTime.now)).all.group_by_hour_of_day(:created_at, format: "%l %P").count %>


</div>

<div id="rightSection">
  <h1 class="head" style="text-align: right;">Drop Off Locations</h1>
  <p style="text-align: right;">Most requested drop off locations</p>
  <div id="dropOffheatMap"></div>
  <br>
  <h1 class="head invis">Ride Request Frequency Today</h1>
  <p class = "invis">Today's request frequency sorted per hour</p>
  <%= line_chart UserRide.where('created_at BETWEEN ? AND ?', DateTime.now.beginning_of_day, DateTime.now.end_of_day).all.group_by_hour_of_day(:created_at, format: "%l %P").count, class:"chartsRight" %>

  <br>

  <h1 class="head invis">Ride Request Frequency Yesterday</h1>
  <p class = "invis">Yesterday's request frequency sorted per hour</p>
  <%= line_chart UserRide.where('created_at BETWEEN ? AND ?', Date.yesterday.beginning_of_day, Date.yesterday.end_of_day).all.group_by_hour_of_day(:created_at, format: "%l %P").count  %>


  <br>

  <h1 class="head invis">Ride Request Frequency Last Week</h1>
  <p class = "invis">Last week's request frequency sorted per hour</p>
  <%= line_chart UserRide.where('created_at BETWEEN ? AND ?', (DateTime.now) - 7.days, (DateTime.now)).all.group_by_hour_of_day(:created_at, format: "%l %P").count %>

  <br>

  <h1 class="head invis">Ride Request Frequency Last Month</h1>
  <p class = "invis">Last Month's request frequency sorted per hour</p>
  <%= line_chart UserRide.where('created_at BETWEEN ? AND ?', (DateTime.now) - 1.month, (DateTime.now)).all.group_by_hour_of_day(:created_at, format: "%l %P").count %>


  <button id="BackToTopCharts"></button>

</div>


</html>


<script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDfC5Wb0mdbixV4pEY7TShv3Wif5ng_UIA&libraries=visualization&callback=initChartsMap">
</script>