<!DOCTYPE html>
<html>
  <head>
    <!--Default rails setup for application-wide css/js-->
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <!--Page-specific css/js-->
    <% if content_for? :page_head %>
      <%= yield :page_head %>
    <% end %>

    <!--Custom application-wide css/js-->
    <link rel="stylesheet" type="text/css" href="fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="fonts/Linearicons-Free-v1.0.0/icon-font.min.css">
  </head>

  <body>
    <div class="container">
      <% if notice %> <div class="alert alert-success"> <%= notice %> </div> <% end %>
      <% if alert %> <div class="alert alert-danger"> <%= alert %></div> <% end %>
    </div>
    <%= yield %>
  </body>
</html>
