<!--HTML FOR SIGNUP PAGE-->


<div class="container">
  <div class="window">
    <div class="overlay"></div>
    <div class="content">
      <div class="welcome">
        Hello There!
      </div>
      <div class="subtitle">
        Before using our services you need to sign up by creating an account.
      </div>
      <br>
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <div class="input-fields">
          <%= devise_error_messages! %>
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'input-line full-width', placeholder: "Enter Email" %>
          <%= f.password_field :password, autocomplete: "off", class: 'input-line full-width', placeholder: "Enter Password" %>
          <%= f.password_field :password_confirmation, autocomplete: "off", class: 'input-line full-width', placeholder: "Confirm Password" %>
          <% if @minimum_password_length %>
            <p align="center">
              <em>(must be a minimum of <%= @minimum_password_length %> characters)</em>
            </p>
          <% end %>
          <!--/* @minimum_password_length found under config->initializers->devise.rb */-->
        </div>
        <br>
        <div class="actions">
          <%= f.submit "Sign up", class: 'ghost-round full-width' %>
        </div>
      <% end %>
    </div>
  </div>
</div>